.item {
    display: flex;
    margin: 5px;
}
.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 100vw;
}
.item > div {
    width: 50%;
    margin: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #000, inset 0 0 5px grey;
    border-radius: 5px;
}

.items > div {
    margin: 5px;
    width: 80%;

    display: flex;
    justify-content: space-around;
}
h1 {
    font-size: 15px;
}
p {
    font-size: 12px;
}

.item > div:hover {
    transform: scale(1.03);
}
/* @media (max-width: 768px) {
    .item > div {
        width: 80%;
    }
    h1 {
        font-size: 12px;
    }
    p {
        font-size: 10px;
    }
}
@media (max-width: 508px) {
    .item > div {
        width: 60%;
    }
} */
img {
    width: 80px;
    aspect-ratio: 3/4;
    object-fit: contain;
}

.item > div {
    display: flex;
    justify-content: space-around;
}
@media (min-width: 768px) {
    img {
        width: 80px;
        aspect-ratio: 3/4;
        object-fit: contain;
    }
    .header > img {
        width: 150px;
    }
}
button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: sandybrown;
    color: #fff;
    outline: none;
}
.header {
    background-color: antiquewhite;
}
.header > img {
    height: 100px;
    width: 200px;
}
